
div{
    background-color:chocolate ;
    
}
.ab{
    color: red;
}
body{
    background-color: burlywood;
}
H2{
    background-color: #66f55a;
}
.para-1{
    background-color: ali#163569;
}
#b{
    background-color: aliceblue;
}
#r{
    background-color: aliceblue;
}
.para-1{
    background-color: #9a5c25;
}
.reza{
    font-size: 50px;
}