* {
  padding: 0%;
  margin: 0%;
}
.shape {
  height: 180px;
  width: 300px;
  /* margin-top: 15% ;
    margin-left: 35%; */
  margin: auto;
  margin-top: 10%;
  border: solid red;
  border-radius: 10px;
  display: block;
}
.shape-2 {
  width: 40px;
  height: 40px;
  background-color: red;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 1%;
}
.text {
  text-align: center;
}
.classr > button {
  background-color: #0080ff;
  color: #f0f8ff;
  border-radius: 5px;
  border: solid #0080ff;
}
.class > button {
  background-color: #ff0000;
  color: aliceblue;
  border-radius: 5px;
  border: solid red;
}
.class {
  text-align: center;
}
.classr {
  text-align: center;
}
.shaper {
  height: 180px;
  width: 300px;
  /* margin-top: 15% ;
    margin-left: 35%; */
  margin: auto;
  margin-top: 10%;
  border: solid#0080ff;
  border-radius: 10px;
  display: block;
}
.shape-2r {
  width: 40px;
  height: 40px;
  background-color: #0080ff;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 1%;
}
